<header>

  <div class="toolbar" role="banner">
    <img width="40" alt="BlasaCar" src="assets/img/blasacar-icon.ico" />
    <span>BlasaCar</span>
    <div class="spacer"></div>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <button class="nav-link btn btn-link" (click)="Inscription()">Inscription</button>
          </li>
          <li class="nav-item">
            <button class="nav-link btn btn-link" (click)="Connexion()">Connexion</button>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>