<header>
  <div class="toolbar" role="banner">
    <img width="40" alt="BlasaCar" src="assets/img/blasacar-icon.ico" />
    <span>BlasaCar</span>
    <div class="spacer"></div>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li *ngIf="!isUserConnected" class="nav-item">
            <button class="nav-link btn btn-link" (click)="inscription()">{{'account.inscription' | translate}}</button>
          </li>
          <li *ngIf="!isUserConnected" class="nav-item">
            <button class="nav-link btn btn-link" (click)="connexion()">{{'account.connexion' | translate}}</button>
          </li>
          <li *ngIf="isUserConnected" class="nav-item">
            <button class="nav-link btn btn-link" (click)="deconnexion()">{{'account.deconnexion' | translate}}</button>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>