<div class="view-content">
    <div class="view-title">
      <h1 class="title"></h1>
      <h3 class="subtitle">S
        
      </h3>
    </div>
    <form [formGroup]="formGroup" (ngSubmit)="submit()">
      <fieldset>
        <div class="card mb-0">
          <div class="card-header">
            <div class="card-title">
              <h2 class="text-primary">
 
                
              </h2>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                <!-- <input type="text"  [formGroup]="formGroup" controlName="codeCivilite" [required]="true"/> -->
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-6">

              </div>
              <div class="col-12 col-sm-6">

              </div>
              <div class="col-12 col-sm-6">

              </div>

            </div>
  
          </div>
  
        </div>
  
      </fieldset>
    </form>
  
  </div>
  