<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Attention</h5>
      <button type="button" class="close" (click)="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>
        Cette fonctionnalité est réservée au client depuis son espace.
      </p>
    </div>
    <div class="modal-footer">
      <div class="col text-center">
        <button type="button" class="btn btn-default" (click)="close()">Ok</button>
      </div>
    </div>
  </div>
</div>
