<div class="view-content">
  <div class="view-title">
    <h1 class="title">
      {{title}}
    </h1>
    <h3 class="subtitle" *ngIf="contrat">
      Sur le contrat {{ contrat.codeRisque | risque | lowercase }}
      <strong>n° {{ contrat.numeroContrat }}</strong>
    </h3>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row" *ngIf="compteBancaire">
        <div class="col-12">
          <div class="label-list-c list-iban current-iban">
            <ul class="label-list">
              <li>
                <label class="label-custom">
                  <span class="label-container">
                    <span class="label-title">Compte utilisé</span>
                    <span class="label-round">
                      <span class="label-check"></span>
                    </span>
                    <span class="label-text">
                      <p>Titulaire : {{ compteBancaire.titulaire }}</p>
                      <p>Etablissement : {{ compteBancaire.banque }}</p>
                      <p>Compte : {{ compteBancaire.iban | slice:0:4 }} •••• ••••
                        {{ compteBancaire.extraitNumeroCompte }}</p>
                    </span>
                  </span>
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <form [formGroup]="compteForm" (keydown.enter)="$event.preventDefault()">
        <fieldset [disabled]="disabled">
          <div class="row">
            <div class="col-12">
              <div class="label-list-c list-iban">
                <ul class="label-list">
                  <li *ngIf="canCreateCompte">
                    <label class="label-custom">
                      <input type="radio" formControlName="compte" value="new" (change)="selectionChange()" />
                      <span class="label-container">
                        <span class="label-round">
                          <span class="label-check"></span>
                        </span>
                        <span class="label-icon">
                          <app-icon klass="icon icon-large" name="ajout-compte"></app-icon>
                        </span>
                        <span class="label-text">Saisir un nouveau compte</span>
                      </span>
                    </label>
                  </li>
                  <li *ngFor="let compte of comptes">
                    <label class="label-custom">
                      <input type="radio" formControlName="compte" [value]="compte.id" (change)="selectionChange()" />
                      <span class="label-container">
                        <span class="label-round">
                          <span class="label-check"></span>
                        </span>
                        <span class="label-text">
                          <p>Titulaire : {{ compte.titulaire }}</p>
                          <p>Etablissement : {{ compte.banque }}</p>
                          <p>
                            Compte : {{ compte.iban | slice:0:4 }} •••• ••••
                            {{ compte.extraitNumeroCompte }}
                          </p>
                        </span>
                      </span>
                    </label>
                  </li>
                </ul>
              </div>

              <ng-container *ngIf="!canCreateCompte">
                <div class="alert alert-warning alert-icon">
                  <app-icon klass="icon icon-medium" name="infos"></app-icon>
                  <div>
                    Vous avez déjà ajouté 4 comptes bancaires. Pour en choisir un autre, merci de contacter votre
                    <a class="alert-link" (click)="goToFAQ()" title="Contacter mon service de gestion">
                      service de gestion.
                    </a>
                  </div>
                </div>
              </ng-container>

            </div>
          </div>
          <div class="row" *ngIf="compteControl.value === 'new'">
            <div class="col-12">
              <div class="row">
                <div class="col-lg-6">
                  <app-text [formGroup]="compteForm" controlName="titulaire" label="Titulaire" required="true"
                    toUpperNormalize="true"></app-text>
                </div>
                <div class="col-lg-6">
                  <app-iban [formGroup]="compteForm" controlName="iban" label="IBAN" required="true"></app-iban>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>