<div class="modal-header">
    <h2 class="modal-title pull-left">{{action.title | translate}}</h2>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal(true)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <ul>
        <li>
            <span type="button" class="btn btn-hovered" (click)="launchFacebookAction()">
                {{'connexion-popup.continue-facebook' | translate}}
                <i class="fa fa-facebook-official facebook-style" aria-hidden="true"></i>
            </span>
        </li>
        <hr />
        <li>
            <span type="button" class="btn btn-hovered" (click)="launchEmailAction()">
                {{'connexion-popup.continue-email' | translate}}
            </span>
        </li>
    </ul>
    <br />
    <p><label>{{action.question | translate}}</label><button class="btn btn-link"
            (click)="switchAction()">{{action.otherActionLabel | translate}}</button></p>
</div>
