<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <div class="row">
      <div class="col-md">
        <blasacar-info-text label="Date depart" [value]="travel.departureDate | date:'dd/MM/yyyy'"></blasacar-info-text>
      </div>
      <div class="col-md">
        <blasacar-info-text label="heure depart" [value]="travel.departureTime | date:'HH:mm'"></blasacar-info-text>
      </div>
      <div class="col-md text-right" *ngIf="!fromSearch">
        <a class="link" title="Détails" [class.active]="extended" (click)="extended = !extended">
          Détails
        </a>
      </div>
    </div>
  </li>
  <ng-container *ngIf="extended">
    <li class="list-group-item">
      <h3 class="card-title text-primary">
        <blasacar-icon klass="icon icon-small" name="assurance-vie"></blasacar-icon>
        passages
      </h3>

      <div class="row">
        <div class="col-md">
          <blasacar-info-text label="prix" [value]="travel.price">
          </blasacar-info-text>
        </div>
        <div class="col-md">
          <blasacar-info-text label="nombre place" [value]="travel.numberPlaces">
          </blasacar-info-text>
        </div>
      </div>
      <div class="row">
        <div class="col-md">
          <blasacar-info-text label="Ville départ" [value]="travel.departureCity">
          </blasacar-info-text>
        </div>
        <div class="col-md">
          <blasacar-info-text label="Acceptation automatique"
            [value]="travel.isAutomaticAcceptance | booleanToOuiNon | translate">
          </blasacar-info-text>
        </div>
      </div>
      <ng-container>
        <div>
        </div>
        <div>
        </div>
      </ng-container>
    </li>

    <li class="list-group-item" *ngIf="fromSearch">
      <h3 class="card-title text-primary">
        <blasacar-icon klass="icon icon-small" name="user"></blasacar-icon>
        autres info voyage
      </h3>
      <div class="row">
        <div class="col-md-6">
          <blasacar-info-text label="Nom et Prénom Conducteur" [value]="getLastFirtNameDriver">
          </blasacar-info-text>
        </div>
        <div class="col-md">
          <blasacar-info-text label="Telephone" [value]='driver.telephone | phone'>
          </blasacar-info-text>
        </div>
      </div>
    </li>
  </ng-container>

</ul>