<div class="form-group" [class.form-error]="hadError">
    <input type="text" class="form-control" bsDatepicker [bsConfig]="bsConfig"
        [formControl]="formControl" [required]="required" [placeholder]="placeholder" #dp="bsDatepicker"
        (bsValueChange)="onDateSelected($event)" readonly>
    <div class="input-group-btn">
        <i class="fa fa-calendar clickable" aria-hidden="true" (click)="dp.toggle()"
            [attr.aria-expanded]="dp.isOpen"></i>
    </div>
    <span *ngIf="hadError" class="error-block">{{ error }}</span>
</div>