//GanEuro
$principale-ganeur: #173461;
$principale-ganeur-hover: #264880;
$secondary-ganeur: #249ad2;
$link-ganeur:#0765a8;
$ganeur-gradient-first: #173461;
$ganeur-gradient-second: #264880;
$ganeur-arrow: #1f7db0;
//GanEuro button
$button-default-ganeur: #1f7db0;
$button-default-hover-ganeur: #339bd3;
$button-default-focus-ganeur: rgba(31, 125, 176, .7);
$button-primary-ganeur: #1f7db0;
$button-primary-hover-ganeur: #339bd3;
$button-primary-focus-ganeur: rgba(31, 125, 176, .7);
//GanEuro Input
$input-toggle-blue-shadow: rgba(0, 47, 132, 0.7);
$ganeur-label-check-color: rgba(31, 125, 176, 1);
$ganeur-scroll-color: #1f7db0;
//GanEuro Notification
$ganeur-green: #44a993;
$ganeur-yellow: #ffba0c;
$ganeur-red: #bf433c;
$ganeur-lighter-blue: rgba(100, 151, 230, 0.14);
