//GanAss
$principale-ganass: #173461;
$principale-ganass-hover: #264880;
$secondary-ganass: #249ad2;
$link-ganass:#0765a8;
$ganass-gradient-first: #173461;
$ganass-gradient-second: #264880;
$ganass-arrow: #173461;
//GanAss button
$button-default-ganass: #1f7db0;
$button-default-hover-ganass: #339bd3;
$button-default-focus-ganass: rgba(31, 125, 176, .7);
$button-primary-ganass: #1f7db0;
$button-primary-hover-ganass: #339bd3;
$button-primary-focus-ganass: rgba(31, 125, 176, .7);
//GanAss Input
$input-toggle-blue-shadow: rgba(0, 47, 132, 0.7);
$ganass-label-check-color: rgba(31, 125, 176, 1);
$ganass-scroll-color: #1f7db0;
//GanAss Notification
$ganass-green: #44a993;
$ganass-yellow: #ffba0c;
$ganass-red: #bf433c;
//table
$ganass-lighter-blue: rgba(100, 151, 230, 0.14);
