.advertisement {
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  .picture {
    height: 11rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .content {
    padding: 1rem;
    min-height: 13rem;
    h3 {
      font-size: 1.1rem;
      font-weight: 600;
      color: $orange;
    }
    p {
      margin: 1rem 0;
    }
    a {
      color: $principale-groupama;
      font-size: 1rem;
      font-weight: 600;
      padding: 1rem 0;
      &.btn {
        color: $white;
        padding: 0.375rem 0.75rem;
      }
    }
  }
}

.theme-ganeur {
  .advertisement {
    .content {
      h3 {
        color: #222222;
      }
      a {
        color: $principale-ganeur;
        &.btn {
          color: $white;
        }
      }
    }
  }
}

.theme-ganass {
  .advertisement {
    .content {
      h3 {
        color: #222222;
      }
      a {
        color: $principale-ganass;
        &.btn {
          color: $white;
        }
      }
    }
  }
}
