.bordered {
  border: 1px solid black;
}

.btn-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.container {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}

.container .btn-holder {
  justify-content: flex-end;
  display: flex;
}

.white-icon-btn svg.icon {
  fill: white !important;
  --main-color: white !important;
}

.btn-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-2p-2n {
  margin-top: 2px;
  margin-bottom: -2px;
}

.mb-last-child {
  margin-bottom: 1.75rem !important;
}

.mb-last-child:last-child {
  margin-bottom: 0.25rem !important;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  border-color: #1f7db0;
  background-color: #1f7db0;
}

.right-pagination {
  float: right !important;
}

@media (max-width: 932px) {
  .right-pagination {
    margin-top: 10px;
  }
}

.popover-container {
  max-width: fit-content !important;
}

.popover-container .popover-body {
  width: 735px;
  padding: 1rem 0rem;
}

@media (max-width: 768px) {
  .popover-container .popover-body {
    width: 350px;
  }

  .custom-col-12-filter {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }

  .custom-mb-5px-filter {
    margin-bottom: 5px;
  }
}

.format-text-filter {
  overflow: inherit;
  white-space: nowrap;
}

.fill-gray svg {
  fill: #444444;
}

.mt-175 {
  margin-top: 1.75rem !important;
}

app-salarie-list svg {
  fill: currentColor !important;
}
