[class*="status-"] {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  margin: 0 .3rem;
  background-color: #ccc;
  border-radius: 50%;
}

.status-green {
  background-color: #62BF4C;
}

.status-purple {
  background-color: #A111AB;
}

.status-blue {
  background-color: #0865a8;
}

.status-red {
  background-color: #D1152A;
}
