[class*="status-"] {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  margin: 0 0.3rem;
  background-color: #ccc;
  border-radius: 50%;
}

.status-green {
  background-color: #62bf4c;
}

.status-purple {
  background-color: #a111ab;
}

.status-blue {
  background-color: #0865a8;
}

.status-red {
  background-color: #d1152a;
}
