<div class="row">
  <div class="col mb-5">
    <div class="upload">
      <ng-container *ngFor="let piecesJointe of displayPiecesJointes">
        <div [ngClass]="piecesJointe.data ? 'col' : 'col-12'">
          <app-file-upload [fileUploadModel]="piecesJointe" [enableDeletion]="true" (fileUploaded)="uploadFile($event)"
            (filedRemoved)="onRemoved($event)">
          </app-file-upload>
        </div>
      </ng-container>
    </div>
    <div class="error" *ngIf="errors.length">
      <ul>
        <li *ngFor="let err of errors">{{err}}</li>
      </ul>
    </div>
    <div>
      <span class="left">{{ addedPiecesJointes.length }}/{{ maxPiecesJointes }} pièces jointes</span>
      <span class="right">{{ totalSize }}/{{ maxSize}} Mo</span>
    </div>
  </div>
</div>
