<button class="btn btn-info white-icon-btn btn-block" placement="bottom" popoverClass="popover-container d-table"
  #popoverFilter="ngbPopover" [autoClose]="false" [ngbPopover]="popContent" (shown)="updateFilterControl()"
  (hidden)="updateFilterControl()">
  <blasacar-icon klass="icon icon-smallest mr-1" class="" name="filter-bootstrap"></blasacar-icon> Filtrer
</button>

<ng-template #popContent>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="row px-2">
            <div class="col-4">
              <p class="h6 font-weight-bold">
                ville départ
              </p>
            </div>
            <div class="col-8">
                <blasacar-text [formGroup]="form" [formGroup]="form" controlName="depart" [required]="true">
                </blasacar-text>
              
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row px-2">
            <div class="col-4">
              <p class="h6 font-weight-bold">
                ville arrivée
              </p>
            </div>
            <div class="col-8">
              <div class="row">
                <blasacar-text [formGroup]="form" [formGroup]="form" controlName="arrivee" [required]="true">
                </blasacar-text>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="row px-2">
            <div class="col-4">
              <p class="h6 font-weight-bold">
                date
              </p>
            </div>
            <div class="col-8">
              <div class="row">
                <blasacar-datepicker [formGroup]="form" controlName="departureDate"
                [initialValue]="criteria.departureDate" [showBeforeDates]="false"
                (valueChanged)="criteria.departureDate= $event">
            </blasacar-datepicker>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row px-2">
            <div class="col-4">
              <p class="h6 font-weight-bold">
                Prix
              </p>
            </div>
            <div class="col-8">
              <div class="row">
                <blasacar-number [formGroup]="form" controlName="prix"
                [initialValue]="criteria.prix" [decimal]="true"></blasacar-number>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="row pl-2">
            <div class="col-7 right">
              <div class="btn-toolbar right" role="toolbar">
                <div class="btn-group" role="group">
                  <button class="btn btn-primary btn-sm" (click)="apply(); ">
                    Appliquer
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row pl-2">
            <div class="col-7 right">
              <div class="btn-toolbar right" role="toolbar">
                <div class="btn-group" role="group">
                  <button class="btn btn-grey btn-sm" (click)="popoverFilter.close()">
                    Fermer
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  