<app-info-text label="Organisme de rattachement" [value]="organismeRattachement | organismeRattachement"
  [popoverContent]="organismeRattachementPopover"></app-info-text>

<ng-template #organismeRattachementPopover>
  <p>
    Pour trouver les informations, code régime, caisse et
    centre, vous pouvez vous référer à votre attestation
    de droits d'assurance maladie.
  </p>
  <div>
    <img class="img-fluid" src="assets/images/attestation-droit.png"
      alt="Attestation de droits à l'assurance maladie" />
  </div>
</ng-template>
