<!-- <header>
  <nav class="navbar navbar-expand-lg navbar-light toolbar">
    <div class="navbar-brand" href="#">
      <img width="40" alt="BlasaCar" src="assets/img/blasacar-icon.ico" />
      <span>BlasaCar</span>
    </div>
    <div class="spacer"></div>
    <div class="collapse navbar-collapse my-2 my-lg-0" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li *ngIf="!isUserConnected" class="nav-item">
          <button class="nav-link btn btn-link"
            (click)="openConnexionPopup(action_inscription)">{{'account.inscription' | translate}}</button>
        </li>
        <li *ngIf="!isUserConnected" class="nav-item">
          <button class="nav-link btn btn-link"
            (click)="openConnexionPopup(action_connexion)">{{'account.connexion' | translate}}</button>
        </li>
        <li *ngIf="isUserConnected">
          <div class="btn-group" dropdown>
            <a id="connected-menu" dropdownToggle type="button" class="nav-link dropdown-toggle"
              aria-controls="connected-menu-list">
              {{currentUser.lastName | uppercase}} {{currentUser.firstName | titlecase}}
            </a>
            <ul id="connected-menu-list" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
              <li class="divider dropdown-divider"></li>
              <li role="menuitem">
                <button class="nav-link btn btn-link"
                  (click)="deconnexion()">{{'account.deconnexion' | translate}}</button>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header> -->

<header>
  <nav class="navbar navbar-expand" aria-label="Menu bureau">
    <a class="navbar-brand" routerLink="/" title="Accueil">
      <span class="d-block d-lg-none d-xl-none logo-mobile">
        <img class="logo-img" src="assets/images/logo/blasacar.png" alt="Groupama">
      </span>
      <span class="d-none d-lg-block d-xl-block logo-desktop">
        <img class="logo-img" src="assets/images/logo/blasacar.png" alt="Groupama">
      </span>
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto">
      </ul>

      <ul class="navbar-nav my-2 my-lg-0 d-none d-xl-flex">

        <ng-container>

          <li class="nav-item">
            <a title="Contacts" class="text-center">
              <blasacar-icon klass="icon icon-white icon-medium ml-auto mr-auto mb-1" name="user-pro">
              </blasacar-icon>
              {{'header.contacts' | translate}}
            </a>
          </li>

          <li class="nav-item">
            <a class="text-center">
              <blasacar-icon klass="icon icon-white icon-medium ml-auto mr-auto mb-1" name="faq"></blasacar-icon>
              {{'header.need-info-question' | translate}}
            </a>
          </li>

          <li class="nav-item">
            <a routerLink="/travel-propose" class="text-center">
              {{'header.travel.propose' | translate}}
            </a>
          </li>

          <li class="nav-item" *ngIf="!isUserConnected">
            <a class="text-center" (click)="openConnexionPopup(action_inscription)">
              {{'header.inscription' | translate}}
            </a>
          </li>

          <li class="nav-item" *ngIf="!isUserConnected">
            <a class="text-center" (click)="openConnexionPopup(action_connexion)">
              {{'header.connexion' | translate}}
            </a>

          <li class="nav-item user-info" *ngIf="isUserConnected">
            <div ngbDropdown>
              <a id="dropdownMenuButton" ngbDropdownToggle aria-haspopup=" true" aria-expanded="false">
                <blasacar-icon klass="icon icon-white icon-medium ml-auto mr-auto mb-1" name="login-pro">
                </blasacar-icon>
                <span class="user-name">
                  {{currentUser.lastName | uppercase}} {{currentUser.firstName | titlecase}}
                </span>
              </a>
              <div ngbDropdownMenu aria-labelledby="dropdownMenuButton" class="mt-0">
                <a ngbDropdownItem routerLink="/mon-compte" title="Mon compte">
                  {{'header.my-account' | translate}}
                </a>
                <a title="Me déconnecter" (click)="deconnexion()">{{'header.deconnexion' | translate}}</a>

              </div>
            </div>
          </li>

        </ng-container>

      </ul>

    </div>
  </nav>
</header>