<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title"></h5>
      <button type="button" class="close" (click)="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>
        Votre demande d'ajout d'ayant droit nécessite d'être étudiée par nos services de gestion.
        Vous pourrez après étude, charger vos justificatifs depuis votre espace.
      </p>
    </div>
    <div class="modal-footer">
      <div class="align-left">
        <button type="button" class="btn btn-primary" (click)="close()">OK</button>
      </div>
    </div>
  </div>
</div>
