<p class="font-italic info">
  L'e-mail et le numéro de téléphone portable sont nécessaires pour signer
  électroniquement.
</p>

<div class="row">
  <div class="col-md-6">
    <blasacar-email [formGroup]="formGroup" controlName="email" [disabled]="disabled" [required]="required" label="E-mail"
      [initialValue]="email">
    </blasacar-email>
  </div>
  <div class="col-md-6">
    <app-mobile-phone [formGroup]="formGroup" controlName="telephonePortable" [disabled]="disabled"
      [required]="required" label="Téléphone portable" [initialValue]="telephonePortable"></app-mobile-phone>
  </div>
</div>
