<!-- <app-pays #pays [formGroup]="formGroup" controlName="pays" label="Pays" [initialValue]="initialValue?.pays || france"
  [required]="isPaysRequired" (valueChanged)="paysChanges(pays.value)">
</app-pays> -->

<blasacar-text [formGroup]="formGroup" controlName="adresse" [initialValue]="initialValue?.adresse"
  label="Numéro et nom de la voie" [required]="isAdresseRequired" [disabled]="disabled" [nbrMaxCaractere]="38"
  [toUpperNormalize]="true">
</blasacar-text>

<div class="row">
  <div class="col-md-6">
    <blasacar-text [formGroup]="formGroup" controlName="complementAdresse1" [initialValue]="initialValue?.complementAdresse1"
      label="Complément d'adresse 1" [required]="isComplementAdresse1Required" [disabled]="disabled"
      [toUpperNormalize]="true"></blasacar-text>
  </div>
  <div class="col-md-6">
    <blasacar-text [formGroup]="formGroup" controlName="complementAdresse2" [initialValue]="initialValue?.complementAdresse2"
      label="Complément d'adresse 2" [required]="isComplementAdresse2Required" [disabled]="disabled"
      [toUpperNormalize]="true"></blasacar-text>
  </div>
</div>

<div class="row">

  <div class="col-md-6">
    <blasacar-text [formGroup]="formGroup" controlName="lieuDit" [initialValue]="initialValue?.lieuDit" label="Lieu-dit"
      [disabled]="!isFrenchAdress" [required]="isLieuDitRequired" [toUpperNormalize]="true">
    </blasacar-text>
  </div>

</div>
