<div class="card border-grey h-100 p-0">
  <div class="card-header">
    <div class="card-title">
      <h2 class="text-primary">
        Mes liens utiles
      </h2>
    </div>
  </div>

  <div class="card-body">

    <app-box-loader [ngClass]="{'hidden':!isLoading}"></app-box-loader>

    <div class="row h-100 w-100" *ngIf="!isLoading">
      <ul class="flex-list">
        <li class="mx-2" *ngFor="let lienUtile of liensUtiles">
          <a [href]="lienUtile.url" [title]="lienUtile.titre" target="_blank">
            <img class="img-fluid" [src]="getImageBase64(lienUtile)" [alt]="lienUtile.titre">
          </a>
        </li>
      </ul>
    </div>

  </div>
</div>
