<div class="modal-dialog" role="document">
    <div class="modal-content">
  
      <div class="modal-header"></div>
  
        <fieldset [disabled]="isLoading">
  
          <div class="modal-body">
  
            <h3 class="mb-4">Confirmation de la demande de suppression</h3>
  

  
          </div>
  
          <div class="modal-footer">
  
            <button type="button" class="btn btn-grey" (click)="close()">Annuler</button>
            <button type="button" class="btn btn-default" [class.btn-loading]="isLoading"
              [disabled]="form.invalid" (click)="radier()" >Supprimer</button>
  
          </div>
  
        </fieldset>

    
    </div>
  </div>
  