<div class="view-content">
    <div class="view-title">
    </div>
    <form [formGroup]="form">
        <fieldset>
            <div class="card mb-0">
                <div class="card-header">
                    <div class="card-title">
                        <h2 class="text-primary">
                        </h2>
                    </div>
                </div>
                <div class="card-body">
                    <div class="col text-center">
                        <div>
                            <h1 class="title">{{currentStep.element.title | translate}}</h1>
                        </div>
                    </div>
                    <div class="container">
                        <div class="justify-content-md-center col-sm-6">
                            <ng-container [ngSwitch]="currentStep.element.code">
                                <div *ngSwitchCase="travelProposeStepCodeEnum.DEPARTURE_CITY">
                                    <app-text [formGroup]="form" controlName="departureCity"
                                        [initialValue]="travel.departureCity" [required]="true"
                                        (valueChanged)="departureCityChanged($event)">
                                    </app-text>
                                </div>
                                <div *ngSwitchCase="travelProposeStepCodeEnum.ARRIVAL_CITY">
                                    <app-text [formGroup]="form" controlName="arrivalCity"
                                        [initialValue]="travel.arrivalCity" [required]="true"
                                        (valueChanged)="arrivalCityChanged($event)">
                                    </app-text>
                                </div>
                                <div *ngSwitchCase="travelProposeStepCodeEnum.DEPARTURE_DATE">
                                    <blasacar-datepicker-form [formGroup]="form" controlName="departureDate"
                                        [initialValue]="travel.departureDate" [showBeforeDates]="false"
                                        [required]="true" (valueChanged)="deparatureDateChanged($event)">
                                    </blasacar-datepicker-form>
                                </div>
                                <!--<div *ngSwitchCase="travelProposeStepCodeEnum.DEPARTURE_HOUR">
                                    <blasacar-timepicker [required]="required" [showMeridian]="false">
                                    </blasacar-timepicker>
                                </div>-->
                                <div *ngSwitchCase="travelProposeStepCodeEnum.NUMBER_PLACE">
                                    <app-number [formGroup]="form" controlName="numberPlace"
                                        [initialValue]="travel.numberPlace" [maxValue]="4" [minValue]="1"
                                        [required]="true" (valueChanged)="numberPlaceChanged($event)"></app-number>
                                </div>
                                <div *ngSwitchCase="travelProposeStepCodeEnum.AUTOMATIQUE_ACCEPTANCE">
                                    <app-radio [formGroup]="form" controlName="numberPlace"
                                        [initialValue]="travel.automatiqueAcceptance"
                                        [options]="automatiqueAcceptanceOptions" [required]="true"
                                        (valueChanged)="automatiqueAcceptanceChanged($event)">
                                    </app-radio>
                                </div>
                                <div *ngSwitchCase="travelProposeStepCodeEnum.PRICE">
                                    <app-number [formGroup]="form" controlName="price" [initialValue]="travel.price"
                                        [required]="true" (valueChanged)="priceChanged($event)"></app-number>
                                </div>
                                <div *ngSwitchCase="travelProposeStepCodeEnum.PHONE_NUMBER">
                                    <app-phone [formGroup]="form" controlName="phoneNumber"
                                        [initialValue]="travel.phoneNumber" [required]="true"
                                        (valueChanged)="phoneNumberChanged($event)"></app-phone>
                                </div>
                            </ng-container>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between">
                        <button class="btn btn-secondary" (click)="previousStep()" *ngIf="currentStep.previous">
                            {{'travel-propose.previous-step' | translate}}
                        </button>
                        <button (click)="nextStep()" class="btn btn-primary">
                            {{'travel-propose.next-step' | translate}}
                        </button>
                    </div>

                </div>
            </div>
        </fieldset>
    </form>




</div>