<div class="view-content">
    <div class="view-title">
    </div>
    <form [formGroup]="form">
        <fieldset>
            <div class="card mb-0">
                <div class="card-header">
                    <div class="card-title">
                        <h2 class="text-primary">
                        </h2>
                    </div>
                </div>
                <div class="card-body">
                    <div class="col text-center">
                        <div>
                            <h1 class="title">{{currentStep.element.title | translate}}</h1>
                        </div>
                    </div>
                    <div class="container">
                        <div class="justify-content-md-center col-sm-6">
                            <ng-container [ngSwitch]="currentStep.element.code">
                                <div *ngSwitchCase="travelProposeStepCodeEnum.DEPARTURE_CITY">
                                    <blasacar-text [formGroup]="form" controlName="departureCity"
                                        [initialValue]="travel.departureCity" [required]="true"
                                        (valueChanged)="travel.departureCity= $event">
                                    </blasacar-text>
                                </div>
                                <div *ngSwitchCase="travelProposeStepCodeEnum.ARRIVAL_CITY">
                                    <blasacar-text [formGroup]="form" controlName="arrivalCity"
                                        [initialValue]="travel.arrivalCity" [required]="true"
                                        (valueChanged)="travel.arrivalCity= $event">
                                    </blasacar-text>
                                </div>
                                <div *ngSwitchCase="travelProposeStepCodeEnum.DEPARTURE_DATE">
                                    <blasacar-datepicker-form [formGroup]="form" controlName="departureDate"
                                        [initialValue]="travel.departureDate" [showBeforeDates]="false"
                                        [required]="true" (valueChanged)="travel.departureDate= $event">
                                    </blasacar-datepicker-form>
                                </div>
                                <div *ngSwitchCase="travelProposeStepCodeEnum.DEPARTURE_HOUR">
                                    <blasacar-timepicker [formGroup]="form" controlName="departureHour"
                                        [initialValue]="travel.departureTime" [required]="true"
                                        (valueChanged)="travel.departureTime= $event"></blasacar-timepicker>
                                </div>
                                <div *ngSwitchCase="travelProposeStepCodeEnum.NUMBER_PLACE">
                                    <blasacar-number [formGroup]="form" controlName="numberPlace"
                                        [initialValue]="travel.numberPlaces" [maxValue]="4" [minValue]="1"
                                        [required]="true" (valueChanged)="travel.numberPlaces= $event">
                                    </blasacar-number>
                                </div>
                                <div *ngSwitchCase="travelProposeStepCodeEnum.AUTOMATIQUE_ACCEPTANCE">
                                    <blasacar-radio [formGroup]="form" controlName="numberPlace"
                                        [initialValue]="getAutomatiqueAcceptance()"
                                        [options]="automatiqueAcceptanceOptions" [required]="true"
                                        (valueChanged)="changeAutomatiqueAcceptance($event)">
                                    </blasacar-radio>
                                </div>
                                <div *ngSwitchCase="travelProposeStepCodeEnum.PRICE">
                                    <blasacar-number [formGroup]="form" controlName="price"
                                        [initialValue]="travel.price" [required]="true" [decimal]="true"
                                        (valueChanged)="travel.price= $event"></blasacar-number>
                                </div>
                                <div *ngSwitchCase="travelProposeStepCodeEnum.PHONE_NUMBER">
                                    <blasacar-phone [formGroup]="form" controlName="phoneNumber"
                                        [initialValue]="travel.phoneNumber" [required]="true"
                                        (valueChanged)="travel.phoneNumber= $event"></blasacar-phone>
                                </div>
                            </ng-container>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between">
                        <button class="btn btn-secondary" (click)="previousStep()" *ngIf="currentStep.previous">
                            {{'travel-propose.previous-step' | translate}}
                        </button>
                        <button (click)="nextStep()" class="btn btn-primary">
                            {{nextStepButtonLabel() | translate}}
                        </button>
                    </div>

                </div>
            </div>
        </fieldset>
    </form>




</div>