<h2 mat-dialog-title>{{action.title}}</h2>

<div mat-dialog-content>
    <ul>
        <li>
            <span type="button" class="btn btn-hovered" (click)="launchFacebookAction()">
                Continuer avec Facebook
                <i class="fa fa-facebook-official facebook-style"></i>
            </span>
        </li>
        <hr />
        <li>
            <span type="button" class="btn btn-hovered" (click)="launchEmailAction()">
                Continuer avec Email
            </span>
        </li>
    </ul>
    <br />
    <p><label>{{action.question}}</label><button class="btn btn-link"
            (click)="switchAction()">{{action.otherActionLabel}}</button></p>
</div>