<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-body" style="text-align: center;">
      <diV>
        <app-icon name="status-success" klass="icon icon-big icon-coll_status_success"></app-icon>
        <h3 class="font-weight-bold">Félicitations !</h3>
      </diV>
      <diV>
        L'email a été envoyé au salarié.
      </diV>
      <diV>
        <a (click)="goToListSalarie()" style="color: #0765a8" *ngIf="!salarieGrcId">
          Revenir à la liste des salariés
        </a>
        <a (click)="goToProfilSalarie()" style="color: #0765a8" *ngIf="salarieGrcId">
          Revenir au profil du salarié
        </a>
      </diV>
    </div>
  </div>
</div>
