 <div class="modal-body">
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
    <blasacar-error-block [errors]="errors"></blasacar-error-block>
    <div class="form-group">
        <label for="inputGender">{{'account.gender' | translate}} : </label><br />
        <span id="inputGender" class="btn-group" role="group" aria-label="gender">
            <button type="button" class="btn btn-light"
                (click)="putGender(genderEnum.Mrs)">{{'account.gender-choice.mrs' | translate}}</button>
            <button type="button" class="btn btn-light"
                (click)="putGender(genderEnum.Mr)">{{'account.gender-choice.mr' | translate}}</button>
            <button type="button" class="btn btn-light"
                (click)="putGender(genderEnum.Undefined)">{{'account.gender-choice.other' | translate}}</button>
        </span>
    </div>
    <div class="form-group">
        <label for="birthday">{{'account.birthday-date' | translate}} : </label><br />
        <blasacar-date-picker id="birthday" [isBirthDate]="true" [placeholder]="'account.birthday-date' | translate"
            (dateSelected)="putBirthDate($event)"></blasacar-date-picker>
    </div>
    <button class="btn btn-primary"
        (click)="registerFacebook()">{{'account.face-info-supp.validate' | translate}}</button>

</div>
