<p class="mb-0">
  Organisme de rattachement
  <button class="btn btn-link text-grey" type="button" placement="auto" [ngbPopover]="organismeRattachementPopover"
    container="body">
    <app-icon klass="icon icon-medium icon-info" name="infos"></app-icon>
  </button>
</p>
<p *ngIf="organismeRattachementValue">{{ organismeRattachementValue }}</p>

<ng-template #organismeRattachementPopover>
  <p>
    Pour trouver les informations, code régime, caisse et
    centre, vous pouvez vous référer à votre attestation
    de droits d'assurance maladie.
  </p>
  <div>
    <img class="img-fluid" src="assets/images/attestation-droit.png"
      alt="Attestation de droits à l'assurance maladie" />
  </div>
</ng-template>
