<div class="card bt-0 p-0 mt-0">

  <div class="card-body">

    <div class="card" *ngIf="isRemboursement">
      <div class="card-header">
        <div class="card-title">

          <h4 class="mt-1">
            <app-icon klass="icon icon-large mr-2" name="lien-externe"></app-icon>
            Consulter mes remboursements

            <ng-container *ngIf="isApporteur$ | async; else notApporteur">
              <a class="btn btn-primary-light text-uppercase float-right" href="#" title="Mes remboursements"
                appPreventApporteurClick>
                Voir le détail
              </a>
            </ng-container>

            <ng-template #notApporteur>
              <a class="btn btn-primary-light text-uppercase float-right" [href]="navigateToRemboursementsEcli"
                title="Mes remboursements">
                Voir le détail
              </a>
            </ng-template>
          </h4>

        </div>
      </div>
    </div>

    <div class="card">

      <div class="card-header">
        <h4 class="card-title mt-1">
          <app-icon klass="icon icon-large mr-2" name="compte"></app-icon>
          {{label}}
        </h4>
      </div>

      <div class="card-body">



        <ng-container *ngIf="compteBancaire">
          <div class="row">
            <div [class.col-7]="canEdit" [class.col-12]="!canEdit">
              <app-iban-detail [cb]="compteBancaire"></app-iban-detail>
            </div>
            <div *ngIf="canEdit" class="col-5">
              <div class="card-iban text-center margin-center">
                <a (click)="clickCreateCompte()" class="card-detail">
                  <app-icon klass="icon icon-large" name="ajout-compte"></app-icon>
                  <span class="text-light-black text-small block">
                    Choisir un autre compte
                  </span>
                </a>
              </div>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="!compteBancaire">
          <div *ngIf="canEdit" class="col text-center margin-center">
            <a (click)="clickCreateCompte()" class="btn btn-link">
              <app-icon klass="icon icon-large" name="ajout-compte"></app-icon>
              <span class="text-light-black block mt-1">
                Je choisis le remboursement de mes soins par virement bancaire.
              </span>
            </a>
          </div>

          <div class="col text-center margin-center" *ngIf="!canEdit" [class.disabled]="!canEdit">
            <app-icon klass="icon icon-large" name="ajout-compte"></app-icon>
            <span class="text-light-black block mt-1">
              Je choisis le remboursement de mes soins par virement bancaire.
            </span>
          </div>
        </ng-container>
      </div>

    </div>

  </div>
</div>
