<div class="card mt-1 mb-1 bg-light border-0">
    <div class="card-body">
  
      <div class="row">
        <div class="col-9 col-lg-10">
  
          <ng-container>
            <div class="card mt-1 mb-last-child bg-light border-0">
              <div class="row">
                <div class="col">
                  <div>

                    {{ travel.departureDate  }}
                    {{ travel.isAutomaticAcceptance }}
                    nombre place : {{ travel.numberPlaces }}
                    nombre price : {{ travel.price }}
                  </div>
                </div>

              </div>
            </div>
          </ng-container>
  
        </div>

      </div>
  

  
    </div>
  </div>